.site-footer {
    font-size: 13px;
    text-align: right;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    padding: 10px 30px;
    border-top: 1px solid #eaeaea;
    a {
        color: #000;
    }
}