.site-header {
  @include bp(min-width, $craft-md) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    width: 20rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: #fdfdfd;
  }
}

.site-title {
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
    font-size: 32px;
    color: rgb(44, 94, 132);
    -webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}
/**
 * ----------------------------------------
 * animation text-pop-up-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc;
  }
}
@keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc;
  }
}



.site-description {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #a0a0a0;
}

.site-branding {
  display: inline-block;
  padding: 20px;
}

.widget-area {
	h2.widget-title {
		font-size: 21px;
		font-weight: 200;
	}
	ul {
		margin: 0; 
		li {
			list-style: none;
		}
	}
}

div.social-header {
  ul {
    margin: 0 0 0 -31px;
  }
  li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    margin: 40px 11px;
    text-align: center;
    text-decoration: underline;
    a {
      text-decoration: none;
      color: rgb(44, 94, 132);
    }
  }
}