.main-navigation {
  @include bp(min-width, $craft-md) {
    clear: both;
    display: block;
    float: left;
    width: 100%;
  }
  @include bp(max-width, $craft-md) {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-top: 31px;
    float: right;
    margin-right: 20px;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 40px;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;
    display: block;
    padding: 20px 20px;
    background: #f3f3f3;
    margin: 1px 0;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: #6f6f6f;
    font-size: 15px;
    transition: 0.5s color;
    &:hover {
      color: #000;
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
  background: black;
  border: 0;
  font-size: 8px;
  color: white;
  float: right;
  padding: 8px 7px;
  li {
    display: inline-block;
  }
}
.main-navigation.toggled ul {
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: center;
  padding: 18px;
  li {
    display: inline-block;
    padding: 4px;
    margin: 0px;
    border: 1px solid #ccc;
    a {
      display: block;
      text-decoration: none;
      color: #545252;
      font-size: 14px;
      transition: 0.5s color;
    }
  }
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
